<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login/<%= data.uname %>"><b><%= data.uname %></b></a>
      <div class="feature">
        <a class="items" href="/login/documentupload/<%= data.uname %>"> Document upload </a>
        <a class="items" href="/login/trackapplication/<%= data.uname %>"> Track Aplication </a>
      </div>
    </div>
  </nav>