<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/studentstyle.css">
</head>
<body>

<%- include('includes/studentNavbar.ejs')  %>
<h2 class="display-6 text-center"> <b>STATE: unknown</b> </h2>
<div class="progress-container">
    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>     
</div>

</body> 
<%- include('includes/footer.ejs') %> 