<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/authpage.css">
    <link rel="stylesheet" href="/authpage2.css">

    </head>

    <body>
        <div class="container">
            <h2 class="display-4 align-center" style="text-align: center;">Student Scholarship</h2>
        </div>

        <div class="form-container">
            <div>
                <div class="options">
                    <div class="inner-option register">
                        <a href="registerpage">Register</a>
                    </div>
                    <div class="inner-option login">
                        <a href="/">Login</a>
                    </div>
                </div>
                <form action="/login" method="post">
                    <h1 class="display-6">Login</h1>
                    <div class="icon">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="formcontainer">
                        <div class="form-field container">
                            <label for="uname"><strong>Institute Mailid</strong></label>
                            <input class="useremail1" type="text" id="useremail" placeholder="name_regno" name="uname" size="12px">
                            <input class="useremail2" type="text" value="@student.nitw.ac.in" disabled>
                            <label for="psw"><strong>Password</strong></label>
                            <input class="password" type="password" id="userpassword" placeholder="password" name="psw">
                        </div>
                        <button class="btn btn-primary "><strong>Login</strong></button>
                        <div class="container" style="background-color: #eee">
                            <label style="padding-left: 15px">
                                <input type="checkbox"  checked="checked" name="remember"> Remember me
                            </label>
                            <span class="psw"><a href="#">Forgot password?</a></span>
                        </div>
                </form>
                </div>
            </div>

    </body>
    <%- include('includes/footer.ejs') %>
