<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/studentstyle.css">
</head>
<body>
  
  <%- include('includes/studentNavbar.ejs')  %>  


  <div class="info-container">
    <div class="alert alert-primary info-box" role="alert">
       <b>A simple primary alert—check it out!</b> 
    </div>
    <div class="alert alert-primary info-box" role="alert">
      <b>A simple primary alert—check it out!</b> 
    </div>
    <div class="alert alert-primary info-box" role="alert">
      <b>A simple primary alert—check it out!</b> 
    </div>
  </div>
</body> 
<%- include('includes/footer.ejs') %> 