<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/studentstyle.css">
</head>
<body>

 <%- include('includes/studentNavbar.ejs')  %>

  <div class="upload-constainer">
   <div class="item-upload"><label for="avatar">Upload all docs in pdf:</label></div>
   <div class="item-upload"><input type="file" name="file" accept="pdf"></div> 
  </div>

</body> 
<%- include('includes/footer.ejs') %> 